:root {
  --accent-color: #2196f3;
  --font-main: Roboto;
  --font-secondary: Raleway;
  --font-weight-main: 400;
  --font-weight-secondary: 700;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: black;
  font-family: var(--font-main);
  font-weight: var(--font-main);
  font-style: normal;
  margin: auto;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  box-sizing: border-box;
}

ul {
  text-decoration: none;
}

a {
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress {
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  width: 1200px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.header .adress {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header .header-mail {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.header .header-tel {
  display: flex;
  align-items: center;
}

.header .logotype-header {
  margin-right: 93px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation .current {
  color: var(--accent-color);
}

.navigation .current::after {
  content: '';
  position: absolute;
  bottom: -33px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link,
.header-mail,
.header-tel {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}

.navigation-list-link:hover, .navigation-list-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-mail,
.header-tel {
  color: #757575;
}

.link-tel {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.link-mail {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.logotype-header {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-secondary);
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.part-logo {
  color: black;
}

.logotype-footer {
  width: 145px;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-secondary);
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer-part-logo {
  color: white;
}

.hero-section {
  width: 100%;
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
  justify-content: center;
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner {
  min-width: 696px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 46px;
  padding-right: 46px;
  margin-bottom: 30px;
}

.hero-title {
  min-width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
  letter-spacing: 0.06em;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.btn-title {
  display: flex;
  align-items: center;
  min-width: 200px;
  padding: 10px 32px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: var(--font-weight-secondary);
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.about-section {
  padding: 94px 0 0;
}

.about-list {
  display: flex;
  align-items: center;
}

.about-title-item {
  display: block;
  width: 270px;
}

.about-title-item:not(:last-child) {
  margin-right: 30px;
}

.about-title-item::before {
  display: block;
  height: 120px;
  content: '';
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url("../images/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/diagram.svg");
}

.icon-astronavt::before {
  background-image: url("../images/astronaut.svg");
}

.about-title-idea {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: var(--font-weight-secondary);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.about-title-description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 3px;
  padding-bottom: 3px;
}

.work-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 94px 0;
}

.work-list .label-work {
  font-family: var(--font-main);
  font-weight: var(--font-weight-secondary);
  color: #ffffff;
  line-height: 1.143;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
}

.work-list-title {
  width: 376px;
  font-size: 36px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 1px;
  padding-bottom: 1px;
  justify-content: center;
}

.work-list-example {
  display: flex;
  align-items: center;
  padding-inline-start: 0;
  margin-top: 50px;
}

.work-list-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 370px;
  height: 294px;
}

.work-list-item:not(:last-child) {
  margin-right: 30px;
}

.worker-groupe {
  background-color: #f5f4fa;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 94px 0;
}

.worker-groupe-list {
  display: flex;
  align-items: center;
  color: #757575;
  text-decoration: none;
}

.worker-groupe-list .social-links {
  fill: currentColor;
  margin-bottom: 29px;
  justify-content: center;
  margin-top: 0px;
}

.worker-groupe-list .social-link-item {
  color: #afb1b8;
  font-weight: normal;
}

.worker-groupe-list .social-link-item:hover, .worker-groupe-list .social-link-item:focus {
  color: white;
}

.worker-groupe-item {
  display: flex;
  align-items: center;
}

.worker-groupe-item:not(:last-child) {
  margin-right: 30px;
}

.worker-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.worker-groupe-title {
  display: flex;
  align-items: center;
  width: 376px;
  font-weight: var(--font-weight-secondary);
  font-size: 36px;
  line-height: 1.1667;
  letter-spacing: 0.03em;
  margin: auto;
  margin-bottom: 50px;
  justify-content: center;
  padding: 0;
}

.worker-element {
  color: black;
  min-width: 151px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.work-position {
  min-width: 13px;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-bottom: 16px;
}

.social-link-list {
  margin-left: 70px;
}

.social-links {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.social-links :not(:last-child) {
  margin-right: 10px;
}

.social-link-item {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-size: auto;
}

.social-link-item:hover, .social-link-item:focus {
  background-color: var(--accent-color);
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.42, 0, 0.58, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  display: inline-block;
  font-family: var(--font-main);
  font-weight: var(--font-weight-main);
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: 1000ms cubic-bezier(0.86, 0.57, 0.14, 0.19);
}

.modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.modal-button:hover, .modal-button:focus {
  fill: var(--accent-color);
}

.icon-btn-close {
  width: 11px;
  height: 11px;
}

.modal-title {
  font-family: var(--font-main);
  font-weight: var(--font-weight-secondary);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: black;
  text-align: center;
  margin-bottom: 12px;
}

.name-form {
  width: 448px;
  margin: 0;
  padding: 0;
}

.form-label {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 10px;
}

.form-input {
  width: 100%;
  padding: 12px 0 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: inline-block;
  margin-top: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label:focus-within .form-input {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  outline: inherit;
}

.field-form {
  margin-bottom: 5px;
}

.icon-input-card {
  width: 16px;
  height: 13px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label:hover .icon-input-card {
  fill: var(--accent-color);
}

.form-label:focus-within .icon-input-card {
  fill: var(--accent-color);
}

.icon-input {
  position: absolute;
  display: flex;
  fill: black;
  align-items: center;
  text-align: center;
  left: 13px;
  transform: translatey(-200%);
}

.form-label-textarea {
  display: inline-block;
  padding-bottom: 4px;
  color: #757575;
}

.form-label-textarea::placeholder {
  color: #afb1b8;
}

.form-input-textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-textarea:focus-within {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  outline: inherit;
}

.form-agreement {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  top: 712px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: var(--font-weight-secondary);
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.agreement-label {
  position: relative;
  display: flex;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: var(--font-weight-main);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 37px;
  margin: auto;
}

.icon-cheked-card {
  width: 16px;
  height: 15px;
}

.icon-cheked {
  position: absolute;
  top: 22px;
  left: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  transition: background-color, border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-input:checked + .icon-cheked {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.agreement-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-agreement {
  margin-left: 3px;
}

.footer-main {
  background: #2f303a;
  width: 100%;
  padding: 60px 0;
}

.footer-main .container {
  display: flex;
  align-items: baseline;
}

.footer-main .container .adress {
  display: flex;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-adress {
  display: flex;
  flex-direction: column;
  min-width: 231px;
  height: 81px;
}

.footer-adress-link {
  display: flex;
}

.footer-adress-link:not(:last-child) {
  margin-bottom: 8px;
}

.footer-adress-map {
  font-size: 14px;
  line-height: 1.71428;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.footer-adress-mail,
.footer-adress-call {
  font-size: 14px;
  line-height: 1.71428;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.invitation {
  font-family: var(--font-main);
  font-weight: var(--font-weight-secondary);
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.form-list {
  margin-left: 93px;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
  max-width: 570px;
}

.footer-form-label {
  width: 370px;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: var(--font-weight-secondary);
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form-input {
  margin-top: 20px;
  padding-left: 16px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  width: 358px;
  height: 50px;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: var(--font-weight-main);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #afb1b8;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

.footer-form-btn {
  width: 200px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: var(--font-weight-secondary);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer-form-btn::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../images/icon_send.svg");
  fill: white;
}

.clients {
  padding: 94px 0;
}

.clients-title {
  margin-bottom: 50px;
  text-align: center;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: var(--font-weight-secondary);
  font-size: 36px;
  line-height: 1.1667;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: inline-block;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  text-align: center;
  padding: 20px 0;
  color: #afb1b8;
}

.client-link:hover, .client-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.client-icon {
  max-width: 80px;
  max-height: 52px;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */