:root {
  --accent-color: #2196f3;
  --font-main: Roboto;
  --font-secondary: Raleway;
  --font-weight-main: 400;
  --font-weight-secondary: 700;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: black;
  font-family: var(--font-main);
  font-weight: var(--font-main);
  font-style: normal;
  margin: auto;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  box-sizing: border-box;
}

ul {
  text-decoration: none;
}

a {
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress {
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links :not(:last-child) {
  margin-right: 10px;
}

.social-link-item {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-size: auto;
}

.social-link-item:hover, .social-link-item:focus {
  background-color: var(--accent-color);
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.logotype-header {
  width: 134px;
  height: 28px;
  left: 215px;
  top: 24px;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-secondary);
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.part-logo {
  color: black;
}

.logotype-footer {
  width: 154px;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-secondary);
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-part-logo {
  color: white;
}

.footer-main {
  padding: 60px 0;
  background-color: #2f303a;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
}

.footer-main .social-link-list {
  margin: 60px 0;
}

@media screen and (min-width: 768px) {
  .footer-main .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-main {
    padding: 60px 89px 60px 76px;
  }
  .footer-main .social-link-list {
    display: inline-block;
    margin-top: auto;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-main {
    text-align: start;
    align-items: baseline;
    margin: 0 auto;
    padding: 60px 0;
  }
  .footer-main .footer-form {
    flex-wrap: wrap;
    padding-top: 0;
  }
  .footer-main .footer-form-input {
    width: 358px;
  }
  .footer-main .social-link-list {
    margin-top: 0;
    margin-bottom: 0;
    text-align: start;
  }
}

.footer-main .footer-adress {
  padding-top: 20px;
  line-height: 1.71428;
  letter-spacing: 0.03em;
}

.footer-main .footer-adress-link:not(:last-child) {
  margin-bottom: 8px;
}

.footer-main .footer-adress-map {
  color: #ffffff;
}

.footer-main .footer-adress-mail,
.footer-main .footer-adress-call {
  color: rgba(255, 255, 255, 0.6);
}

/*.footer-form-btn {
  width: 200px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: var(--font-weight-secondary);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  &::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url('../images/icon_send.svg');
    fill: white;
  }*/
.invitation {
  margin-bottom: 20px;
  font-weight: var(--font-weight-secondary);
  text-transform: uppercase;
}

.footer-form-label {
  font-weight: var(--font-weight-secondary);
  text-transform: uppercase;
}

.footer-form-input {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  width: 450px;
  height: 50px;
  font-weight: var(--font-weight-main);
  font-size: 16px;
  line-height: 1.25;
  color: #afb1b8;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    margin-bottom: 0;
    width: 358px;
  }
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }
  .footer-form .form-list {
    margin: 0 auto;
  }
  .footer-form .footer-form-label {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
    align-items: flex-end;
  }
  .footer-form .form-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 93px;
  }
  .footer-form .footer-form-label {
    max-width: 358px;
  }
  .footer-form .main-btn {
    margin-left: 12px;
    margin-right: auto;
  }
}
/*# sourceMappingURL=portfolio.css.map */