.clients {
  padding: 60px 0;
  text-align: center;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 64px;
  }
}
.clients-title {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.clients-list-item {
  margin-bottom: 30px;
  &:nth-of-type(2n + 1) {
    margin-right: 30px;
  }
  @media screen and (min-width: 768px) {
    &:not:nth-child(3n) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.client-link {
  display: inline-block;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  padding: 20px 0;
  color: #afb1b8;
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.client-icon {
  max-width: 90px;
  max-height: 52px;
  fill: currentColor;
}
/*


.clients-title {
  margin-bottom: 50px;
  text-align: center;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: var(--font-weight-secondary);
  font-size: 36px;
  line-height: 1.1667;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.clients-list-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.client-link {
  display: inline-block;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  text-align: center;
  padding: 20px 0;
  color: #afb1b8;
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}

.client-icon {
  max-width: 80px;
  max-height: 52px;
  fill: currentColor;
}*/
