// .clients {
//   padding: 94px 0;
// }

// .clients-title {
//   margin-bottom: 50px;
//   text-align: center;
//   font-family: var(--font-main);
//   font-style: normal;
//   font-weight: var(--font-weight-secondary);
//   font-size: 36px;
//   line-height: 1.1667;
//   letter-spacing: 0.03em;
// }

// .clients-list {
//   display: flex;
//   align-items: center;
//   cursor: pointer;
// }

// .clients-list-item {
//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }
// .client-link {
//   display: inline-block;
//   width: 170px;
//   height: 90px;
//   border: 1px solid #afb1b8;
//   border-radius: 4px;
//   text-align: center;
//   padding: 20px 0;
//   color: #afb1b8;
//   &:hover,
//   &:focus {
//     border: 1px solid var(--accent-color);
//     color: var(--accent-color);
//   }
// }

// .client-icon {
//   max-width: 80px;
//   max-height: 52px;
//   fill: currentColor;
// }
