// .invitation {
//   font-family: var(--font-main);
//   font-weight: var(--font-weight-secondary);
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: #ffffff;
// }

// .form-list {
//   margin-left: 93px;
// }

// .footer-form {
//   display: flex;
//   justify-content: center;
//   align-items: flex-end;
//   padding: 0;
//   max-width: 570px;
// }

// .footer-form-label {
//   width: 370px;
//   font-family: var(--font-main);
//   font-style: normal;
//   font-weight: var(--font-weight-secondary);
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: #ffffff;
// }

// .footer-form-input {
//   margin-top: 20px;
//   padding-left: 16px;
//   padding-top: 0;
//   padding-bottom: 0;
//   padding-right: 0;
//   width: 358px;
//   height: 50px;
//   font-family: var(--font-main);
//   font-style: normal;
//   font-weight: var(--font-weight-main);
//   font-size: 16px;
//   line-height: 1.25;
//   letter-spacing: 0.03em;
//   color: #afb1b8;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//   border-radius: 4px;
//   background-color: #2f303a;
// }

// .footer-form-btn {
//   width: 200px;
//   height: 50px;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   padding: 0;
//   background: #2196f3;
//   border: none;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   font-family: var(--font-main);
//   font-style: normal;
//   font-weight: var(--font-weight-secondary);
//   font-size: 16px;
//   line-height: 1.875;
//   letter-spacing: 0.06em;
//   color: #ffffff;
//   &::after {
//     content: '';
//     display: inline-block;
//     width: 24px;
//     height: 24px;
//     margin-left: 10px;
//     background-image: url('../images/icon_send.svg');
//     fill: white;
//   }
// }
