.hero-section {
  width: 100%;
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
  justify-content: center;
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner {
  min-width: 696px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 46px;
  padding-right: 46px;
  margin-bottom: 30px;
}

.hero-title {
  min-width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
  letter-spacing: 0.06em;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
