// .logotype-header {
//   width: 145px;
//   height: 31px;
//   left: 215px;
//   top: 24px;
//   font-family: var(--font-secondary);
//   font-weight: var(--font-weight-secondary);
//   font-size: 26px;
//   line-height: 1.192;
//   letter-spacing: 0.03em;
//   color: var(--accent-color);
//   text-decoration: none;
// }

// .part-logo {
//   color: black;
// }

// .logotype-footer {
//   width: 145px;
//   font-family: var(--font-secondary);
//   font-weight: var(--font-weight-secondary);
//   font-size: 26px;
//   line-height: 1.192;
//   letter-spacing: 0.03em;
//   color: #2196f3;
//   text-decoration: none;
//   margin-bottom: 20px;
// }

// .footer-part-logo {
//   color: white;
// }
